Write a function so that the columns of the output matrix are powers of the input vector. 

The order of the powers is determined by the increasing boolean argument. 

Specifically, when increasing is False, the i-th output column is the input vector raised element-wise to the power
of N - i - 1. 


HINT: Such a matrix with a geometric progression in each row is named for Alexandre-
Theophile Vandermonde.

In [11]:
import numpy as np

def Vandermondefunc(i_vec, n, increasing = False):
    if increasing:
        outmat = np.matrix([x**i for x in i_vec for i in range(n)]).reshape(i_vec.size, n)
    else:
        outmat = np.matrix([x**(n-i-1) for x in i_vec for i in range(n)]).reshape(i_vec.size, n)
    return outmat

In [31]:
i_vec = np.array([1,3,5,7,9])
i_vec

array([1, 3, 5, 7, 9])

In [35]:
t = np.matrix([x**i for x in i_vec for i in range(n)])
t

matrix([[   1,    1,    1,    1,    1,    1,    3,    9,   27,   81,
            1,    5,   25,  125,  625,    1,    7,   49,  343, 2401,
            1,    9,   81,  729, 6561]])

In [37]:
np.matrix([1,2,3,4,5,6]).reshape(3,2)

matrix([[1, 2],
        [3, 4],
        [5, 6]])

In [39]:
m1 = np.matrix([x**(n-i-1) for x in i_vec for i in range(n)])
m1

matrix([[   1,    1,    1,    1,    1,   81,   27,    9,    3,    1,
          625,  125,   25,    5,    1, 2401,  343,   49,    7,    1,
         6561,  729,   81,    9,    1]])

In [41]:
i_vec

array([1, 3, 5, 7, 9])

In [42]:
for i in range(5):
    for x in i_vec:
        print("i value: ",i)
        print("X value: ", x)
        print("X***n-i-1", x**(n-i-1))

i value:  0
X value:  1
X***n-i-1 1
i value:  0
X value:  3
X***n-i-1 81
i value:  0
X value:  5
X***n-i-1 625
i value:  0
X value:  7
X***n-i-1 2401
i value:  0
X value:  9
X***n-i-1 6561
i value:  1
X value:  1
X***n-i-1 1
i value:  1
X value:  3
X***n-i-1 27
i value:  1
X value:  5
X***n-i-1 125
i value:  1
X value:  7
X***n-i-1 343
i value:  1
X value:  9
X***n-i-1 729
i value:  2
X value:  1
X***n-i-1 1
i value:  2
X value:  3
X***n-i-1 9
i value:  2
X value:  5
X***n-i-1 25
i value:  2
X value:  7
X***n-i-1 49
i value:  2
X value:  9
X***n-i-1 81
i value:  3
X value:  1
X***n-i-1 1
i value:  3
X value:  3
X***n-i-1 3
i value:  3
X value:  5
X***n-i-1 5
i value:  3
X value:  7
X***n-i-1 7
i value:  3
X value:  9
X***n-i-1 9
i value:  4
X value:  1
X***n-i-1 1
i value:  4
X value:  3
X***n-i-1 1
i value:  4
X value:  5
X***n-i-1 1
i value:  4
X value:  7
X***n-i-1 1
i value:  4
X value:  9
X***n-i-1 1

### Write a function to find moving average in an array over a window:

#### Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [3]:
seq = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]

In [1]:
def m_avg(seq, k):
    n = len(seq)-k
    for i in range(n+1):
        sum1 = 0
        for j in range(k):
            sum1 += seq[i+j]
        print(f'y{str(i+1)}',round(sum1/k,2))

In [4]:
m_avg(seq,3)

y1 5.0
y2 4.67
y3 5.67
y4 6.67
y5 9.67
y6 28.67
y7 49.33
y8 72.67
y9 84.0
y10 93.33
y11 116.33

In [90]:
def m_avg(seq, window):
    mavgCount = 1
    moving_avg = np.convolve(seq, np.ones(window), 'valid') / window
    for vals in moving_avg:
        print("y{0} = {1: .2f}".format(mavgCount, vals))
        mavgCount+=1

In [91]:
m_avg(seq, 3)

y1 =  5.00
y2 =  4.67
y3 =  5.67
y4 =  6.67
y5 =  9.67
y6 =  28.67
y7 =  49.33
y8 =  72.67
y9 =  84.00
y10 =  93.33
y11 =  116.33

In [67]:
k=3
output = np.convolve(seq, np.ones(k), 'valid') / k

In [68]:
output

array([  5.        ,   4.66666667,   5.66666667,   6.66666667,
         9.66666667,  28.66666667,  49.33333333,  72.66666667,
        84.        ,  93.33333333, 116.33333333])

In [71]:
np.convolve(seq, np.ones(3),'valid')

array([ 15.,  14.,  17.,  20.,  29.,  86., 148., 218., 252., 280., 349.])

In [29]:
omatdesc = Vandermondefunc(i_vec,n, increasing=True)

omatdesc

matrix([[   1,    1,    1,    1,    1],
        [   1,    3,    9,   27,   81],
        [   1,    5,   25,  125,  625],
        [   1,    7,   49,  343, 2401],
        [   1,    9,   81,  729, 6561]])

In [30]:
omatdesc = Vandermondefunc(i_vec,n, increasing=False)

omatdesc

matrix([[   1,    1,    1,    1,    1],
        [  81,   27,    9,    3,    1],
        [ 625,  125,   25,    5,    1],
        [2401,  343,   49,    7,    1],
        [6561,  729,   81,    9,    1]])

1 Simple python and numpy function
The first part of this assignment gives you practice with python and numpy syntax. In the next cell, you will find the outline of a python function. Modify it to return a 5 x 5 identity matrix by filling in the following code:

A = np.eye(5)

In [98]:
def warmUpExercise(k):
    """
    Example function in Python which computes the identity matrix.
    
    Returns
    -------
    A : array_like
        The 5x5 identity matrix.
    
    Instructions
    ------------
    Return the 5x5 identity matrix.
    """    
    # ======== YOUR CODE HERE ======
    A = np.eye(k)
    
    # ==============================
    return A

In [100]:
warmUpExercise(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

TypeError: Cannot interpret '2' as a data type

In [116]:
X = np.ones(10).reshape(5,2)
Y = np.ones(10).reshape(5,2)
print(X)
print(Y)

[[1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]]
[[1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]]

In [119]:
z = np.vstack((X,Y))
z

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [123]:
z.shape

(10, 2)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/jakevdp/PythonDataScienceHandbook/master/notebooks/data/births.csv")

In [3]:
df.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [4]:
df.dtypes

year        int64
month       int64
day       float64
gender     object
births      int64
dtype: object

In [11]:
df[df['gender']==object & df['day']==float64]

AssertionError:

In [29]:
df[df.columns[df.dtypes=="float64"] | df.columns[df.dtypes=="object"]].dropna()

        day gender
0       1.0      F
1       1.0      M
2       2.0      F
3       2.0      M
4       3.0      F
...     ...    ...
15062  29.0      M
15063  30.0      F
15064  30.0      M
15065  31.0      F
15066  31.0      M

[15067 rows x 2 columns]

In [30]:
str1 = 'act'
str2 = 'cat'

def check_anagram(s1, s2):
    if i in s1:
        if

In [54]:
df['year'].value_counts().reset_index().sort_values(by='index', ascending=True)

df.groupby("year")["births"].sum().reset_index()

    year   births
0   1969  3600206
1   1970  3737800
2   1971  3563548
3   1972  3266235
4   1973  3146125
5   1974  3170631
6   1975  3153556
7   1976  3176476
8   1977  3332159
9   1978  3338300
10  1979  3499795
11  1980  3617981
12  1981  3635515
13  1982  3685457
14  1983  3642821
15  1984  3673568
16  1985  3765064
17  1986  3760695
18  1987  3813216
19  1988  3913793
20  1989  4045693
21  1990  4162917
22  1991  4115342
23  1992  4069428
24  1993  4004523
25  1994  3956925
26  1995  3903012
27  1996  3894874
28  1997  3884329
29  1998  3945192
30  1999  3963465
31  2000  4063823
32  2001  4031531
33  2002  4027376
34  2003  4096092
35  2004  4118907
36  2005  4145619
37  2006  4273225
38  2007  4324008
39  2008  4255156

In [62]:
df1= df.groupby(["year", "gender"])["births"].sum().reset_index()

   year gender   births
0  1969      F  1753634
1  1969      M  1846572
2  1970      F  1819164
3  1970      M  1918636
4  1971      F  1736774

In [70]:
s1 = "cat"
s2 = reversed(s1)

In [81]:
def isPalindrome(s):
    return s == s[::-1]
 
 
# Driver code
s = "malayaam"
ans = isPalindrome(s)
print(ans)

False